{% extends "inc-page.html" %}
{% block title %}Special items found in maps{% endblock %}
{% block contents %}
<h1>Special items found in maps</h1>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Map(s)</th>
    <th>Item power</th>
    <th>Calc item power</th>
    <th>Description</th>
  </tr>{% set iss = sort(items, "name") %}
  {% for item in iss %}
  <tr>
    <td>{{ item.name }}</td>
    <td>{% if length(item.maps) %}
      <ul>{% set im = sort(get_list_by_field(maps, "_key", item.maps), "name,path") %}
        {% for map in im %}
        <li><a href='{{ link_to_page("map.html", map._key) }}'>{{ map.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </td>
    <td>{{ item.power }}</td>
    <td>{{ item.calc_power }}</td>
    <td><pre>{{ item.diff }}</pre></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
